<p>Want to get in touch?</p>
<ul>
  <li>{{#link-to 'phone'}}Phone{{/link-to}}</li>
  <li>{{#link-to 'email'}}Email{{/link-to}}</li>
</ul>

{{ #if messageSent }}
  <p>Thank you. Your message has been sent.</p>
{{else}}
  <p> Or, <a href='#' {{action 'sendMessage'}}>Click here</a>to send me a secret message</p>
{{/if}}

{{ outlet }}
