<div class='container'>
  <h1>Ember blog</h1>

	<ul>
    <li><a href='#'>I love Ember so far</a></li>
    <li><a href='#'>I love Handlebars so far</a></li>
    <li><a href='#'>I love Ember’s conventions so far</a></li>
	</ul>
</div>
